
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>球迷网</title>
    <link href="{{$rootpath}}/css/bootstrap.css" rel="stylesheet" />
    <link href="{{$rootpath}}/css/Site.css" rel="stylesheet" />

    <script src="{{$rootpath}}/scripts/modernizr-2.6.2.js"></script>
    <script src="{{$rootpath}}/scripts/jquery-2.2.1.js"></script>


</head>
<body>
    {{include  file="$smarty_root/nav.html" }}

    <div class="container body-content" style="margin-top:20px;margin-bottom:20px;">
